@model IEnumerable<MVC_Projekt_WebbShop.Models.Product>
@using MVC_Projekt_WebbShop.Models;
@{
    ViewBag.Title = "StoreIndex";

}
<style>
    .hejsan{
        display:run-in;
    }
</style>
<h2>StoreIndex</h2>

<p>
    @{if (Session["User"] != null)
        {
            if (((UserModel)Session["User"]).EditAdminAthority)
            {
                @Html.ActionLink("Create New", "Create")
            }
        }
    }
    
</p>

<div class="container">
    <div class="row">
        @{foreach (Product item in Model)
            {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="text-align:center">
                <h5>@item.Name</h5>
                <img src="@item.PictureURL" style="width:10em;height:10em;"/>
                <p>@if (item.Description.Length < 260)
                {
                        @Html.DisplayFor(modelItem => item.Description);
                }
                else
                {
                    for (int i = 0; i < 260; i++)
                    {
                        Write(item.Description[i]);
                    }
                        <br />
                        @Html.ActionLink("Read more...", "Details", new { id = item.Id });
                }


                </p>
                <p>
                     @if (Session["User"] != null)
                     {
                         if (((UserModel)Session["User"]).EditAdminAthority)
                         {
                        <button class="btn btn-default hejsan col-md-12">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </button>
                        <button class="btn btn-default hejsan col-md-12">
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                        </button>
                        <button class="btn btn-default hejsan col-md-12">
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </button>
                         }
                     }
                        <button class=" btn btn-default hejsan col-md-12">
                            @Html.ActionLink("AddToCart", "AddToCart", new { id = item.Id })
                        </button>
            </p>
            </div>
                }
            }

    </div>
</div>

