<!DOCTYPE html>
@using MVC_Projekt_WebbShop.Models;
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <form  action="/Search/Result" method="post">
                    <input type="text" name="search" value="" placeholder="Enter search here..." />
                    <button type="submit">Search</button>
                </form>
                @{if (!((bool)Session["LoginStatus"]))
                    {
                    <form action="/Register/Index" method="post">
                        <button type="submit">Register</button>
                    </form>

                    <form action="/Login/Login" method="post">
                        <button type="submit">Login</button>
                    </form>
                    } else{
                    <h2 style="color:white">Välkommen ((UserModel)Session["User"]).Name</h2>
                    <form action="/Login/Logout" method="post">
                        <button type="submit"name="logoutButton">Login Out</button>
                    </form>
                        }
                    }
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
