<!DOCTYPE html>
@using MVC_Projekt_WebbShop.Models;
<html>
<style>
    .menuListItem{
        top:1em;
    }
</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Critical Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CriticalStore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Store", "StoreIndex", "Store")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Kundvagn", "AddToCart", "Store")</li>


                    <li class="menuListItem" style="margin-left: 150px;">
                        <form class="sök" action="/Search/Result" method="post" style="display:inline-block;align-items:flex-end;" @*margin-top: 15px; margin-left: 200px;*@>
                            <input type="text" name="search" value="" placeholder="Enter search here..." />
                            <button class="btn btn-default" type="submit">Search</button>
                        </form>
                    </li>
                    @{if (!((bool)Session["LoginStatus"]))
                        {
                            <li class="menuListItem">
                                <form action="/Register/Index" method="post" style="display:inline-block;">

                                    <button class="btn btn-default" type="submit">Register</button>
                                </form>

                                <form action="/Login/Login" method="post" style="display:inline-block;">
                                    <button class="btn btn-default" type="submit">Login</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="menuListItem">
                                <h5 style="color:black; display:inline-block; ">
                                    Välkommen @if (Session["User"] != null)
                                    {
                                        Write((((UserModel)Session["User"]).Name));
                                    }
                                </h5>
                                <form action="/Login/Logout" method="post" style="display:inline-block;">
                                    <button class="btn btn-default" type="submit" name="logoutButton">LogOut</button>
                                </form>
                            </li>
                        }
                    }
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
